/* Colors */
:root {
  /* ### Primary */
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);

  /* #### Dark Theme */
  --Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

  /* #### Light Theme */
  --Toggle: hsl(230, 22%, 74%);

  /* #### Dark Theme */
  --Body-BG: hsl(230, 17%, 14%);
  --Top-BG: hsl(232, 19%, 15%);

  --Card-BG: hsl(228, 28%, 20%);
  --Blue-Text: hsl(228, 34%, 66%);
  --Main-Text: hsl(0, 0%, 100%);
  --Mode-Text: hsl(0, 0%, 100%);
}

.dark-theme {
  /* #### Light Theme */
  --Body-BG: hsl(0, 0%, 100%);
  --Top-BG: hsl(225, 100%, 98%);
  --Card-BG: hsl(227, 47%, 96%);
  --Blue-Text: hsl(228, 12%, 44%);
  --Main-Text: hsl(230, 17%, 14%);
  --Mode-Text: hsl(228, 12%, 44%);
}

/* Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML */
html {
  font-family: "Inter", sans-serif;
}

/* Body */
body {
  background-color: var(--Body-BG);
  overflow: visible;
}

.fake-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 33%;
  background-color: var(--Top-BG);
  z-index: -1;
  border-radius: 0 0 1.5rem 1.5rem;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dashboard Container */
.dashboard {
  width: 90%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Header Part */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.heading-main {
  color: var(--Main-Text);
  font-size: 28px;
}

.heading-main-description {
  color: var(--Blue-Text);
  font-size: 14px;
}

.mode-changer-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mode-changer-text {
  color: var(--Mode-Text);
  font-size: 16px;
}

input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  /* transition: 0.5s; */
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(15%, 15%);
  background-color: var(--Card-BG);
  transition: 0.5s ease-out;
}

input:checked[type="checkbox"]::before {
  left: 30px;
}

input:hover {
  cursor: pointer;
}

/* First Boxes */
.main-boxes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding: 0.5rem 0;
}

.main-box {
  display: flex;
  flex-direction: column;
  background-color: var(--Card-BG);
  align-items: center;
  justify-content: center;
  padding: 1.3rem 2.5rem;
  border-radius: 4px;
  position: relative;
}

.main-box:hover.main-box::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(122, 121, 143, 0.1);
  cursor: pointer;
}

.main-box-facebook {
  border-top: 4px solid var(--Facebook);
}

.main-box-twitter {
  border-top: 4px solid var(--Twitter);
}

.main-box-instagram {
  position: relative;
}

.main-box-instagram::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
}

.main-box-youtube {
  border-top: 4px solid var(--YouTube);
}

.main-box-icon-name {
  display: flex;
  gap: 10px;
}

.main-box-name {
  color: var(--Blue-Text);
}

.main-box-number {
  color: var(--Main-Text);
  padding-top: 1rem;
  font-size: 48px;
}

.main-box-followers {
  color: var(--Blue-Text);
  font-size: 16px;
  letter-spacing: 5px;
  padding-bottom: 5px;
}

.main-box-followers-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding-top: 15px;
}

.main-box-followers-data-icon {
  width: 12px;
  height: 8px;
}

.main-box-followers-data-text {
  color: var(--Lime-Green);
}

.youtube-red-text {
  color: var(--Bright-Red);
}

/* Second Heading  */
.second-heading {
  color: var(--Mode-Text);
  font-size: 24px;
}

/* Seond Boxes */
.second-boxes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.second-box {
  background-color: var(--Card-BG);
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 5px;
  position: relative;
}

.second-box:hover.second-box::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(122, 121, 143, 0.1);
  cursor: pointer;
}

.second-box-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-box-up-views {
  color: var(--Blue-Text);
  font-size: 14px;
  font-weight: 700;
}

.second-box-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-box-down-number {
  color: var(--Main-Text);
  font-size: 32px;
  font-weight: 700;
}

.second-box-down-data-container {
  display: flex;
  align-items: center;

  gap: 5px;
}

.second-box-down-data-icon {
  width: 14px;
}

.second-box-down-data-text {
  color: var(--Lime-Green);
  font-weight: 500;
}

.red-text {
  color: var(--Bright-Red);
}

/* Media queries  */
@media (max-width: 1100px) and (min-width: 901px) {
  .main-boxes-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .second-boxes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) and (min-width: 551px) {
  .main-boxes-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading-main {
    font-size: 24px;
    padding-bottom: 5px;
  }

  .mode-changer-text {
    font-size: 14px;
  }

  .second-boxes-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .second-heading {
    font-size: 20px;
  }
}

@media (max-width: 550px) and (min-width: 375px) {
  .main-boxes-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .second-boxes-container {
    grid-template-columns: repeat(1, 1fr);
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .mode-changer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--Blue-Text);
  }

  .fake-bg {
    height: 48%;
  }
}
